# Ignore these when building Docker images
runs/
__pycache__/
*.pt
*.ckpt
*.csv
*.json
*.log
*.ipynb
.DS_Store
.env
.git
.gitignore

# Local runs & artifacts
runs/
outputs/
.cache/
wandb/
tensorboard/
.prof/

# Big data files not needed in image (tweak as needed)
data/*.csv
tests/**/*.json
tests/**/model.ckpt

# Ignore the HuggingFace Demo folder
Demo/
